.user-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.user-content-container {
    width: 80%;
    margin: 30px;
    border-radius: 30px;
    background-color: rgb(25, 25, 25);
    padding: 30px;
}

.user-content-container-title {
    font-size: 32px;
}

.user-content-container li {
    list-style-type: none;
    margin: 10px;
    font-size: 24px;
}